@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: auto 0;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.quote-container {
    padding: 16px;
    border-radius: 4px;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.fa-quote-left {
    font-size: 4rem;
    color: lightgray;
}

.quote-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

.quote-author {
    font-style: italic;
    font-size: 1rem;
    margin-top: 16x;
}

button {
    padding: 16px;
    background-color: royalblue;
    color: white;
    border-radius: 8px;
    border: none;
}

.button-container {
    margin-top: 16px;
}

.copied-quote {
    background-color: aquamarine;
    color: black;
    display: none;
}

.button-container :hover {
    cursor: pointer;
    transform: scale(1.05);
}


@media screen and (max-width:1000px) {

    .quote-container {
        margin: auto 16px;
    }

    .fa-quote-left {
        font-size: 2rem;
    }

}